<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../resources/style.css">
		<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
		<title>Dylan's Webpage</title>
	</head>
	<body>
		<div class="svg">
			<svg width="100%" height="300" viewBox="0 0 100% 300" xmlns="http://www.w3.org/2000/svg">
  				<rect width="100%" height="100%" x="0" y="0" fill="rgb(150 100 150)" />
  				<rect width="100%" height="75%" x="0" y="0" fill="rgb(0, 0, 150)" />
  				<rect width="100%" height="30%" x="0" y="0" fill="rgb(0, 0, 70)" />
  				<circle cx="10%" cy="6%" r=".5%" fill="yellow"/>
  				<circle cx="20%" cy="15%" r=".5%" fill="yellow"/>
  				<circle cx="35%" cy="10%" r=".5%" fill="yellow"/>
  				<circle cx="50%" cy="20%" r=".5%" fill="yellow"/>
  				<circle cx="55%" cy="5%" r=".5%" fill="yellow"/>
  				<circle cx="65%" cy="15%" r=".5%" fill="yellow"/>
  				<circle cx="75%" cy="10%" r=".5%" fill="yellow"/>
  				<circle cx="95%" cy="-10%" r="10%" fill="rgb(0, 200, 255)"/>
  				<path stroke="white" stroke-dasharray="50" d="M 100 110 L 1800 110"/>
  				<path stroke="white" stroke-dasharray="50" d="M 50 140 L 1700 140" />
  				<path stroke="white" stroke-dasharray="50" d="M 100 170 L 1800 170"/>
  				<path stroke="white" stroke-dasharray="50" d="M 50 200 L 1700 200"/> 
          <polygon points="500 230, 515 250, 550 250, 525 275, 535 295, 500 285, 465 295, 475 275, 450 250, 485 250" stroke="black" fill="rgb(45, 0, 85)"/>
          <polygon points="1300 230, 1315 250, 1350 250, 1325 275, 1335 295, 1300 285, 1265 295, 1275 275, 1250 250, 1285 250" stroke="black" fill="rgb(45, 0, 85)"/>
			</svg>
		</div>
		<nav class="menue">
			<ul>
				<li>
				<a href="../index.html">Home</a>
				</li>
				<li>Page Two</li>
				<li>
					<a href="./page-three.html">Page Three</a>
				</li>
			</ul>
		</nav>
		<h1>Favorite Coding Resources</h1>
		<table>
			<thead>
				<tr>
					<th>Coding Resource</th>
					<th>Link</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>W3 Schools</th>
					<td>
						<a href="https://www.w3schools.com/html/">https://www.w3schools.com/html/</a>
					</td>
				</tr>
				<tr>
					<td>Mozilla Developer Network</th>
					<td>
						<a href="https://developer.mozilla.org/en-US/docs/Web">https://developer.mozilla.org/en-US/docs/Web</a>
					</td>
				</tr>
				<tr>
					<td>Geeks for Geeks</th>
					<td>
						<a href="https://www.geeksforgeeks.org/">https://www.geeksforgeeks.org/</a>
					</td>
				</tr>
			</tbody>
			<caption>Table of coding resources.</caption>
		</table>
		<footer class="feet">
			<p>Made by Dylan Cordoni</p>
			<p>Github: <a href="https://github.com/dylancordoni">dylancordoni</a></p>
		</footer>
	</body>
</html>
