<!DOCTYPE html>
<html>
	<title>Dylan's Webpage</title>
	<body>
		<nav class="menue">
			<ul>
				<li>
				<a href="../index.html">Home</a>
				</li>
				<li>Page Two</li>
				<li>
					<a href="./views/page-three.html">Page Three</a>
				</li>
			</ul>
		</nav>
		<h1>Favorite Coding Resources</h1>
		<table>
			<caption>Table of coding resources.</caption>
			<thead>Resources</thead>
			<tbody>
				<tr>
					<th>Resource one</th>
					<td>Link</td>
				</tr>
				<tr>
					<th>Resource two</th>
					<td>Link</td>
				</tr>
				<tr>
					<th>Resource three</th>
					<td>link</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
