p {
	color: red;
}

table {
	width:30%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collpase;
}

td {
	text-align: center;
}

h1, h2 {
	text-align: center;
}

img {
	margin: 0 auto;
}
