body {
	font-family: "Georgia", sans-serif;
}

p {
	color: red;
}

table {
	width:30%;
	margin: 0 auto;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	text-align: center;
}

caption {
	font-style: oblique;
}

h1, h2 {
	text-align: center;
}

img {
	margin: 0 auto;
}
