body {
	font-family: "Georgia", sans-serif;
}

p {

}

table {
	width:30%;
	margin: 0 auto;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	text-align: center;
}

caption {
	font-style: oblique;
}

h1, h2 {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

.example {
	font-weight: bold;
}

#assignment {
	text-shadow: 1px 1px 1px green, 2px 2px 1px red, 3px 3px 1px blue;
}
